<%= form_with model: @unidade do |form| %>
  <div class="form">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
   <%= show_errors(@unidade,:nome) %>

    <div>
      <%= form.submit 'Salvar unidade', class: "form-btn"%>
    </div>

  </div>


<% end %>