<h1>Unidades</h1>

<div class="options">
    <input type="text" id="search-box" placeholder="Buscar" class="search-box" oninput="filterList()">
    <%= link_to "Cadastrar unidade", new_unidade_path, class: "btn-action" %>
</div>

<div class="data">
    <% if @unidades.empty? %>
       
    <h2 class="empty">Nenhuma unidade cadastrada</h2>
        
    <% end %>
    <% @unidades.each do |unidade| %>
        <div class="list">
            <%= link_to unidade.nome, unidade, class: "list-item" %>
            <div class="list-buttons">
                 <%= link_to edit_unidade_path(unidade)  do %>
                        <%= image_tag "edit-pen-svgrepo-com.svg", alt: "editar", class: "edit-icon" %>
                    <% end %>
                    <%= link_to unidade, data: { turbo_method: "delete", turbo_confirm: "Tem certeza?" } do %>
                         <%= image_tag "trash-delete-bin-svgrepo-com.svg", alt: "deletar", class: "thrash-icon" %>
                    <% end %>
            </div>
        </div>
    <% end %>
</div>

<script>
  function filterList() {
    const searchInput = document.getElementById("search-box").value.toLowerCase();
    const lists = document.querySelectorAll(".list");

    lists.forEach(function(list) {
      const listItem = list.querySelector(".list-item");
      const listName = listItem ? listItem.textContent.toLowerCase() : "";

      if (listName.indexOf(searchInput) !== -1) {
        list.classList.remove("hide");
      } else {
        list.classList.add("hide");
      }
    });
  }
</script>

