<%= form_with model: @guarda do |form| %>
  <div class="form">
    <div class="form-field">
        <%= form.label :nome %>
        <%= form.text_field :nome %>
        <%= show_errors(@guarda,:nome) %>
    </div>

    <div class="form-field">
        <%= form.label :matricula, "Matrícula" %>
        <%= form.text_field :matricula %>
        <%= show_errors(@guarda,:matricula) %>
    </div>

    <div class="form-field">
        <%= form.label :porte_arma,"Nº do porte de arma" %>
        <%= form.text_field :porte_arma %>
        <%= show_errors(@guarda,:porte_arma) %>
    </div>

    <div class="form-field">
        <%= form.label :equipe_id, "Equipe" %>
        <%= form.collection_select :equipe_id, @equipes, :id, :nome, prompt: "Selecione uma equipe" %>
        <%= show_errors(@guarda,:equipe_id) %>
    </div>

    <div>
      <%= form.submit 'Salvar guarda', class: "form-btn"%>
    </div>
  </div>

  
<% end %>