<h1>Guardas</h1>



<div class="options">
    <input type="text"  id="search-box" placeholder="Buscar" class="search-box" oninput="filterTable()">
    <%= link_to "Cadastrar guarda", new_guarda_path, class: "btn-action"%>
</div>
<table class="guardas-table">
    <thead>
        <tr class="tr-head">
            <th id="guarda-nome">Nome</th>
            <th id="guarda-mat">Matrícula</th>
            <th id="guarda-porte">Nº porte de arma</th>
            <th id="guarda-equipe">Equipe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @guardas.each do |guarda|%>
            <tr class="tr-body">
                <td><%= guarda.nome %></td>
                <td><%= guarda.matricula %></td>
                <td><%= guarda.porte_arma %></td>
                <td><%= guarda.equipe.nome %></td>
                <td class="table-buttons"> 
                    <%= link_to edit_guarda_path(guarda) do %>
                        <%= image_tag "edit-pen-svgrepo-com.svg", alt: "editar", class: "edit-icon" %>
                    <% end %>
                    <%= link_to guarda, data: { turbo_method: "delete", turbo_confirm: "Isso excluíra todas as movimentações com esse guarda incluso. Tem certeza ?" } do %>
                         <%= image_tag "trash-delete-bin-svgrepo-com.svg", alt: "deletar", class: "thrash-icon" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>



<script>
  function filterTable() {
    const searchInput = document.getElementById("search-box").value.toLowerCase();
    const rows = document.querySelectorAll(".tr-body");

    rows.forEach(function(row) {
      const cells = row.querySelectorAll("td");
      const nome = cells[0].textContent.toLowerCase();
      const matricula = cells[1].textContent.toLowerCase();
      const porteArma = cells[2].textContent.toLowerCase();
      const equipe = cells[3].textContent.toLowerCase();

      if (nome.includes(searchInput) || matricula.includes(searchInput) || porteArma.includes(searchInput) || equipe.includes(searchInput)) {
        row.classList.remove("hide");
      } else {
        row.classList.add("hide");
      }
    });
  }
</script>