<h1><%= @guarda.nome %></h1>

<div>
    <div style="display:flex; flex-direction:row; gap:10px">
        <p>Matrícula:</p>
        <p><%=@guarda.matricula %></p>
    </div>
    <div style="display:flex; flex-direction:row; gap:10px">
        <p>Nº do porte de arma:</p>
        <p><%=@guarda.porte_arma %></p>
    </div>
    <div style="display:flex; flex-direction:row; gap:10px">
        <p>Equipe:</p>
        <p><%=@equipe.nome %></p>
    </div>
</div>

<div style="display: flex; flex-direction:column; gap:15px;">
<%= link_to "Voltar", guardas_path%>
<%= link_to "Editar", edit_guarda_path(@guarda) %>
<%= button_to "Deletar", @guarda, method: :delete, data: { turbo_confirm: "tem certeza?" } %>

</div>