<%= form_with model: @equipe do |form| %>
  <div class="form">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
    <%= show_errors(@equipe,:nome) %>
    <div>
      <%= form.submit 'Salvar equipe', class: "form-btn"%>
    </div>
  </div>


<% end %>