<%= form_with model: @equipe do |form| %>
  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
    <%if @equipe.errors[:nome].any?%>
        <div>
            <%= @equipe.errors[:nome].join(", ") %>
        </div>
    <% end %>
  </div>

  <div>
    <%= form.submit 'Salvar equipe'%>
  </div>
<% end %>