<h1>Equipes</h1>


<div class="options">
    <input type="text" id="search-box" placeholder="buscar" class="search-box" oninput="filterList()">
    <%= link_to "Cadastrar equipe", new_equipe_path, class: "btn-action"%>
</div>


<div class="data">
     <% if @equipes.empty? %>
       
    <h2 class="empty">Nenhuma equipe cadastrada</h2>
        
    <% end %>
    <% @equipes.each do|equipe| %>
        <div class="list">
            <%=link_to equipe.nome, equipe, class: "list-item"%>
            <div class="list-buttons">
                <%= link_to edit_equipe_path(equipe) do %>
                        <%= image_tag "edit-pen-svgrepo-com.svg", alt: "editar", class: "edit-icon" %>
                    <% end %>
                    <%= link_to equipe, data: { turbo_method: "delete", turbo_confirm: "Tem certeza?" } do %>
                         <%= image_tag "trash-delete-bin-svgrepo-com.svg", alt: "deletar", class: "thrash-icon" %>
                    <% end %>
            </div>
            
        </div>
    <% end %>
</div>


<script>
  function filterList() {
    const searchInput = document.getElementById("search-box").value.toLowerCase();
    const lists = document.querySelectorAll(".list");

    lists.forEach(function(list) {
      const listItem = list.querySelector(".list-item");
      const listName = listItem ? listItem.textContent.toLowerCase() : "";

      if (listName.indexOf(searchInput) !== -1) {
        list.classList.remove("hide");
      } else {
        list.classList.add("hide");
      }
    });
  }
</script>
