<h1><%= @equipe.nome %></h1>



<h2>Guardas da <%= @equipe.nome%></h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Porte de Arma</th>
      <th>Equipe</th>
    </tr>
  </thead>
  <tbody>
    <% @guardas.each do |guarda| %>
      <tr>
        <td><%= guarda.nome %></td>
        <td><%= guarda.matricula %></td>
        <td><%= guarda.porte_arma %></td>
        <td><%= guarda.equipe.nome if guarda.equipe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

