<%= form_with model: @arma do |form| %>
  <div class="form">
    <div class="form-field">
        <%= form.label :modelo %>
        <%= form.text_field :modelo %>
        <%= show_errors(@arma,:modelo) %>
    </div>

    <div class="form-field">
        <%= form.label :registro%>
        <%= form.text_field :registro %>
        <%= show_errors(@arma,:registro) %>
    </div>
    
    <div>
      <%= form.submit 'Salvar arma', class: "form-btn"%>
    </div>

  </div>

 
<% end %>