<h1>Armas</h1>



<div class="options">
    <input type="text" name="" id="" placeholder="buscar" class="search-box">
    <%= link_to "Cadastrar arma", new_arma_path, class: "btn-action"%>
</div>

<table class="armas-table">
    <thead>
        <tr class="tr-head">
            <th>Modelo</th>
            <th>Registro</th>
            <th>status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @armas.each do |arma|%>
            <tr class="tr-body">
                <td><%= arma.modelo %></td>
                <td><%= arma.registro %></td>
                <td>
                    <% if arma.emprestada %>
                        Emprestada
                    <% else %>
                        Disponível
                    <% end %>
                </td>
                <td class="table-buttons"> 
                    <%= link_to "Editar", edit_arma_path(arma), class: "btn-list"%>
                    <%= link_to "Deletar", arma, data: { turbo_method: "delete", turbo_confirm: "Tem certeza?" },  class: "btn-list"%>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

