<h1>Armas</h1>



<div class="options">
    <input type="text" id="search-box" placeholder="Buscar" class="search-box" oninput="filterTable()">
    <%= link_to "Cadastrar arma", new_arma_path, class: "btn-action"%>
</div>

<table class="armas-table">
    <thead>
        <tr class="tr-head">
            <th>Modelo</th>
            <th>Registro</th>
            <th>status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @armas.each do |arma|%>
            <tr class="tr-body">
                <td><%= arma.modelo %></td>
                <td><%= arma.registro %></td>
                <td>
                    <% if arma.emprestada %>
                        Emprestada
                    <% else %>
                        Disponível
                    <% end %>
                </td>
                <td class="table-buttons"> 
                     <%= link_to edit_arma_path(arma)  do %>
                        <%= image_tag "edit-pen-svgrepo-com.svg", alt: "editar", class: "edit-icon" %>
                    <% end %>
                    <%= link_to arma, data: { turbo_method: "delete", turbo_confirm: "Isso excluíra todas as movimentações com essa arma inclusa. Tem certeza ?" } do %>
                         <%= image_tag "trash-delete-bin-svgrepo-com.svg", alt: "deletar", class: "thrash-icon" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<script>
  function filterTable() {
    const searchInput = document.getElementById("search-box").value.toLowerCase();
    const rows = document.querySelectorAll(".tr-body");

    rows.forEach(function(row) {
      const cells = row.querySelectorAll("td");
      const modelo = cells[0].textContent.toLowerCase();
      const registro = cells[1].textContent.toLowerCase();
      const status = cells[2].textContent.toLowerCase();

      
      if (modelo.includes(searchInput) || registro.includes(searchInput) || status.includes(searchInput)) {
        row.classList.remove("hide");
      } else {
        row.classList.add("hide");
      }
    });
  }
</script>