<h1><%= @arma.modelo%></h1>

<div>
    <div style="display:flex; flex-direction:row; gap:10px">
        <p>Registro:</p>
        <p><%=@arma.registro %></p>
    </div>
    <div style="display:flex; flex-direction:row; gap:10px">
        <p>status:</p>
        <p>
            <%if @arma.emprestada%>
                Emprestada
            <%else %>
                Disponível
            <%end%>
        </p>
    </div>
</div>

<div style="display: flex; flex-direction:column; gap:15px;">
<%= link_to "Voltar", armas_path%>
<%= link_to "Editar", edit_arma_path(@arma) %>
<%= button_to "Deletar", @arma, method: :delete, data: { turbo_confirm: "tem certeza?" } %>

</div>