<h2 style="font-size:40px; margin-top: 60px;">Login</h2>


<div class="login-box">

<div style="border: #ddd solid 1px; border-radius: 5px">
  <%= image_tag "guarda_civil.jpeg", alt: "Logo da guarda civil", style: "max-width: 100%; height: auto; " %>
</div>
<div class= "login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div style="margin-top: 5px; margin-bottom: 5px;">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Lembrar-se de mim" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Entrar", class: "form-btn" %>
    </div>
  <% end %>

<%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class: "link" %>  
</div>


</div>

