<h1>Movimentações</h1>

<div class="options">
    <input type="text" id="search-box" placeholder="Buscar" class="search-box" oninput="filterTable()">
    <%= link_to "Cadastrar Empréstimo", emprestimo_movimentacaos_path, class: "btn-action" %>
    <%= link_to "Cadastrar Devolução", devolucao_movimentacaos_path, class: "btn-action" %>
</div>

<table class="mov-table">
    <thead>
        <tr>
            <th>Armeiro</th>
            <th>Arma</th>
            <th>Balas</th>
            <th>Calibre</th>
            <th>Carregadores</th>
            <th>Guarda</th>
            <th>Tipo</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <% @movimentacoes.each do |movimentacao| %>
            <tr data-href="<%= movimentacao_path(movimentacao) %>" class="clickable-row">
                <td><%= movimentacao.armeiro.nome %></td>
                <td><%= movimentacao.arma.modelo %></td>  
                <td><%= movimentacao.balas %></td>
                <td><%= movimentacao.calibre %></td>
                <td><%= movimentacao.carregadores %></td>  
                <td><%= movimentacao.guarda.nome %></td> 
                <td>
                    <% if movimentacao.tipo %>
                        Empréstimo
                    <% else %>
                        Devolução
                    <% end %>
                </td>
                <td>
                    <div class="mov-table-data">
                        <p><%= movimentacao.data.strftime("%d/%m/%Y") %></p>
                        <p><%= movimentacao.hora.strftime("%H:%M") %></p>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<script>
  document.querySelectorAll('.clickable-row').forEach(row => {
    row.addEventListener('click', function() {
      window.location = this.getAttribute('data-href');
    });
  });

  function filterTable() {
    const searchInput = document.getElementById("search-box").value.toLowerCase();
    const rows = document.querySelectorAll(".clickable-row");

    rows.forEach(function(row) {
      const cells = row.querySelectorAll("td");
      const armeiro = cells[0].textContent.toLowerCase();
      const arma = cells[1].textContent.toLowerCase();
      const balas = cells[2].textContent.toLowerCase();
      const calibre = cells[3].textContent.toLowerCase();
      const carregadores = cells[4].textContent.toLowerCase();
      const guarda = cells[5].textContent.toLowerCase();
      const tipo = cells[6].textContent.toLowerCase();
      const data = cells[7].textContent.toLowerCase();

      if (armeiro.includes(searchInput) || arma.includes(searchInput) || balas.includes(searchInput) || 
          calibre.includes(searchInput) || carregadores.includes(searchInput) || guarda.includes(searchInput) || 
          tipo.includes(searchInput) || data.includes(searchInput)) {
        row.classList.remove("hide");
      } else {
        row.classList.add("hide");
      }
    });
  }
</script>

<style>
  .hide {
    display: none;
  }
</style>
