<h1>Movimentação Nº <%= @movimentacao.id %></h1>

<div class="mov-info">
    <div class="section">
        <p class="section-title">Armeiro</p>
        <div class="row">
            <div class="column">
                <p>Nome</p>
                <p>Nº Mat.</p>
            </div>
            <div class="column">
                <p><%= @movimentacao.armeiro.nome %></p>
                <p><%= @movimentacao.armeiro.matricula %></p>
            </div>
        </div>
    </div>
    
    <div class="section">
        <p class="section-title">Arma</p>
        <div class="row">
            <div class="column">
                <p>Modelo</p>
                <p>Registro</p>
            </div>
            <div class="column">
                <p><%= @movimentacao.arma.modelo %></p>
                <p><%= @movimentacao.arma.registro %></p>
            </div>
        </div>
    </div>

    <div class="section">
        <p class="section-title">Munição</p>
        <div class="row">
            <div class="column">
                <p>Balas</p>
                <p>Calibre</p>
                <p>Carregadores</p>
            </div>
            <div class="column">
                <p><%= @movimentacao.balas %></p>
                <p><%= @movimentacao.calibre %></p>
                <p><%= @movimentacao.carregadores %></p>
            </div>
        </div>
    </div>

    <div class="section">
        <p class="section-title">Guarda</p>
        <div class="row">
            <div class="column">
                <p>Nome</p>
                <p>Nº Mat.</p>
                <p>Nº porte de arma</p>
            </div>
            <div class="column">
                <p><%= @movimentacao.guarda.nome %></p>
                <p><%= @movimentacao.guarda.matricula %></p>
                <p><%= @movimentacao.guarda.porte_arma %></p>
            </div>
        </div>
    </div>

    <div class="section">
        <p class="section-title">Observações/justificativa</p>
        <p><%= @movimentacao.observacao %></p>
    </div>

    <div class="section">
        <p class="section-title">Data</p>
        <p><%= @movimentacao.data %></p>
    </div>

    <div class="section">
        <p class="section-title">Hora</p>
        <p><%= @movimentacao.hora %></p>
    </div>

    <div class="section">
        <p class="section-title">Tipo</p>
        <p>
            <% if @movimentacao.tipo %>
            Empréstimo
            <% else %>
            Devolução
            <% end %>
        </p>
    </div>
</div>

<div style="display: flex; flex-direction:column; gap:15px;">


<%= button_to "Deletar", @movimentacao, method: :delete, data: { turbo_confirm: "tem certeza?" }, class: "form-btn" , style: "margin-top:30px"%>

</div>