<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Armament Management System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "flash_messages" %>

  </head>

  <body>
    <% if user_signed_in? %>
    <div class= "nav">
      <%= link_to  movimentacaos_path, class: "nav-item" do%>
        <%= image_tag "transfer-svgrepo-com.svg", alt: "Movimentações", class: "nav-icon" %>
      <% end %>
      <%= link_to  guardas_path, class: "nav-item" do %>
        <%= image_tag "security-guard-svgrepo-com.svg", alt: "Movimentações", class: "nav-icon" %>
      <% end %>
      <%= link_to armas_path, class: "nav-item" do %>
        <%= image_tag "automatic-gun-svgrepo-com.svg", alt: "Movimentações", class: "nav-icon" %>
      <% end %>
      <%= link_to equipes_path, class: "nav-item" do%>
        <%= image_tag "team-svgrepo-com.svg", alt: "Movimentações", class: "nav-icon" %>
      <% end %>
      <%= link_to unidades_path, class: "nav-item" do%>
       <%= image_tag "security-shield-svgrepo-com.svg", alt: "Movimentações", class: "nav-icon" %>
      <% end %>
      <%= link_to edit_user_registration_path, class: "nav-item" do %>
       <%= image_tag "user-icon-svgrepo-com.svg", alt: "Editar Perfil", class: "nav-icon" %>
      <% end %>
      <%= link_to  destroy_user_session_path, data: {turbo_method: "delete"} , class: "nav-item" do %>
        <%= image_tag "log-out-outlined-svgrepo-com.svg", alt: "Editar Perfil", class: "nav-icon" %>
      <% end %>
      
    </div>
  <% end %>


  

    <% if flash[:notice] %>
      <div id="notice" class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div id="alert" class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
   
  </body>
</html>
